---
title: Search
permalink: search.html
layout: page
---
<!-- Build a store for lunr -->
<script>
	window.store = {
		{% for post in site.posts %}
			"{{ post.url | slugify }}": {
			"title": "{{ post.title | xml_escape }}",
			"author": "{{ post.author | xml_escape }}",
			"category": "{{ post.category | xml_escape }}",
			"content": {{ post.content | strip_html | strip_newlines | jsonify }},
			"url": "{{ post.url | xml_escape }}"
		}
		{% unless forloop.last %},{% endunless %}
		{% endfor %}
	};
</script>

{% include searchbox placeholder=""%}
<div id="search-results">
	<div class="searchMsgWrapper">
		<div class="searchMsg">Searching...</div>
	</div>
</div>
