---
layout: page
title: DRC Forum
sections:
  - events
  - blog
permalink: /forum/
tags: [work]
---
<section class="page-columns">
  <div class="primary-column">
    <section>
      <h2>We sponsor conferences, speakers, workshops, and other events, including our annual DRExChange, on the campus of Hofstra University to promote digital communities, scholarship, critical thinking, and learning.</h2>
    </section>
    <a href="{{ site.baseurl }}/events/"><h1 class="section-header" id="events">Events</h1></a>
      {% include events.html %}
    <a href="{{ site.baseurl }}/news/"><h1 class="section-header" id="news">News</h1></a>
      {% include news.html %}
    <a href="{{ site.baseurl }}/blog/"><h1 class="section-header" id="blog">Blog</h1></a>
    <section>
      {% include blog.html %}
    </section>
  </div>
  <div class="secondary-column twitter-embed">
    <a class="twitter-timeline" href="https://twitter.com/hofstradrc">Tweets by hofstradrc</a>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</section>
