---
title: DRC Lab
permalink: "/lab/"
layout: page
sections:
- projects
- tools
- collaborations
tags:
- work
---

<section>
<h2>DRC&rsquo;s directors, programmer, and web designer work directly with Hofstra faculty to develop their research projects into interactive online sites that promote collaborative scholarship, critical thinking, and learning in their fields of study. In doing so, we also develop cutting-edge digital tools—such as TextLab, Itinerary, and Hofstra&rsquo;s version of Annotation Studio—that can be adapted for use beyond the individual project. DRC&rsquo;s eleven charter projects now under development are listed below.</h2>
</section>
<a href="{{ site.baseurl }}/projects/"><h1 class="section-header first" id="projects">Projects</h1></a>
<section>
  {% include projects.html %}
</section>
<a href="{{ site.baseurl }}/tools/"><h1 class="section-header" id="tools">Tools</h1></a>
<section>
  {% include tools.html %}
</section>
<a href="{{ site.baseurl }}/collaborations/"><h1 class="section-header" id="collaborations">Collaborations</h1></a>
<section>
  {% include collaborations.html %}
</section>
