---
id: people
layout: page
title: People
permalink: /people/
tags: [general, information]
---

<div class="people">
{% assign people = site.data.people | sort: 'last_name' %}
{% for person in people %}
<div class="person">
    <div class="photo">
{% if person.photo!='' %}
        <img src="{{ person.photo }}" />
{% else %}
        <img src="/images/people/nophoto.jpg" />
{% endif %}
    </div>
    <div class="details">
        <h3>{{ person.first_name }} {{ person.last_name }}</h3>

        <ul>
{% for post in site.posts %}
{% if post.people contains person.id %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
{% endif %}
{% endfor %}
        </ul>
    </div>
</div>
{% endfor %}
</div>

<!-- 

People Page: Two groupings
- Two Rows.
    - DRC Staff
        - Add Bob, Brian, Kevin
        - JB, EL, Keri, JF
    - Experts
        - Don't list on people page
        - Do list on project
        - 


- Project Directors
    - Meena Bose: The Kalikow Center Online
    - 

- Photos half the size of current.
    √ Better one of John!
    - 

- Project Relationships
    - MEL and Itinerary <=> JB
    - Adam <=> "A Frightful Number"
    - Vern <=> Annotation Studio, RSLT

- Team
    - FN
    - RSLT
    - Sand
        - Keri
        - JF
        - Ethna

- DRC 



 -->