<section class="events">
<h3>DREx 2017</h3>
<p>Hofstra’s Digital Research Center (DRC) will hold its annual Digital Research Exchange (DREx), at Hofstra’s Axinn Library and Mack Hall (University Club), on Wednesday, April 26, 2017, from 11am to 4pm.</p>
<p>DREx is an annual gathering of New York, Tristate, and Long Island digital humanists, archivists, librarians, scholars, and teachers to discuss issues confronting the discipline and to consider opportunities for mutual development and future engagement. Our topic this year is “The Digital Archive 2.0: Research as Teaching, Teaching as Research.”</p>
<p>Our keynote speaker is Ray Siemens, director of the Electronic Textual Cultures Lab and Digital Humanities Summer Institute at the University of Victoria. He will speak on “The New Critical Archive and the Emergent Social Age,” at Hofstra’s Axinn Library, 10th Floor.</p>
<p>Following a luncheon for participants and attendees at Hofstra’s Mack Hall, our DREx Symposium will focus on visions and problems arising in archival and big data projects. Our panelists are Thomas Augst (NYU, director of the NewYorkScapes project), Elizabeth Dillon (Northeastern, co-director of NULab for Texts, Maps, and Networks), and Jeffrey Ravel (MIT, the Comédie Française Registers and Visualizing Maritime History projects). John Bryant (Hofstra, director of the Melville Electronic Library and Hofstra DRC) will moderate.</p>
<p><a href="https://www.eventbrite.com/e/the-digital-archive-20-registration-32186636095?aff=drcblog"><strong>Please click here to register</strong></a></p>

<h2 class="heading">Past Events</h2>
{% assign events = site.categories.events %}
{% for post in events limit:10 %}
<h3><a href="{{ post.link }}">{{ post.title }}</a></h3>
{% comment %}
<p>{{ post.display_date }}<br />
{% endcomment %}
{{ post.location }}</p>
{{ post.content }}
{% endfor %}
</section>
