    <div class="logo-header-wrapper">
        <div class="logo-header">
            <a href="/"><img src="/images/drc.logo.horizontal.png" alt="Digital Research Center at Hofstra" height="42" width="247" /></a>
            <a href="#" id="js-navigation-mobile-menu" class="mobile-toggle">MENU</a>
            <p id="description">Finding Digital Solutions to Problems in Scholarship and Learning</p>
        </div>

    </div>

    <section id="header">
        <header class="navigation" role="banner">
            <div class="navigation-wrapper">
                <nav role="navigation">
                    <ul id="js-navigation-menu" class="navigation-menu show">
                        {% for page in site.data.nav %}
                            {% if page.title %}
                            <li class="nav-link"><a class="page-link" href="{{ page.permalink | prepend: site.baseurl }}">{{ page.title }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </header>
    </section>
