* {
    margin: 0; padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-text-size-adjust:none !important; -ms-text-size-adjust:none !important;
}

$charcoal: #3D3935;
$base-accent-color: #003594; // Hofstra Blue
$support-color-1: #9e9c9a;
$support-color-2: #cecdcc;
$support-color-3: #ecebeb;
$support-color-4: #f5f5f5;
$highlight-color: #feb612; // Hofstra Gold

$montserrat: 'Montserrat', sans-serif;

$large-screen: em(860) !default;

body {
    background-color: $support-color-4;
}

a img {
    border: none !important;
}

#content {
    @include outer-container;
    // aside { @include span-columns(3); }
    // article { @include span-columns(9); }
}

// Home page styles
.hero {
    ///////////////////////////////////////////////////////////////////////////////////
    $base-border-radius: 3px !default; // Used by button
    //$base-accent-color: #477DCA !default;
    //$base-accent-color: #477DCA !default;
    $large-screen: em(860) !default;
    //////////////////////////////////////////////////////////////////////////////////

    /*$hero-background-top: #7F99BE;
    $hero-background-bottom: #20392B;*/
    $hero-color: white;
    /*$gradient-angle: 10deg;
    $hero-image: "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png";*/

    //@include background(url($hero-image), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);
    //background-color: #324766;
    background-color: #a6a6a6;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 20px;

    // height: 250px;

    width: 100%;

    .hero-logo img {
        height: 4em;
        margin-bottom: 1em;
    }

    .hero-inner {
        @include outer-container;
        @include clearfix;
        color: $hero-color;
        margin: auto;
        max-width: 1280px;
        padding-right: 0px;
        padding-left: 0px;
        .hero-copy:nth-of-type(1) {
            float: left;
            padding-right: 10px;
            width: 800px;
        }
        .hero-copy:nth-of-type(2) {
            float: left;
            padding-left: 10px;
            width: 480px;
        }

@media all and (max-width: 1280px) {
        .hero-copy:nth-of-type(1),
        .hero-copy:nth-of-type(2) {
            margin-right: auto;
            margin-left: auto;
            max-width: 1280px;
            padding-right: 0;
            padding-left: 0;
            width: 100%;
        }
        .hero-copy:nth-of-type(1) {
            margin-bottom: 20px;
        }
}

        .hero-copy {
            &:first-child .hero-copy-inner {
                background: url('/images/coyote.jpg') no-repeat center center;
            }
            &:last-child .hero-copy-inner {
                background: url('/images/forum-home.jpg') no-repeat center center;
            }
            &:first-child .hero-copy-inner > div {
                background-color: transparentize($base-accent-color, 0.5);
                min-height: 550px;
                padding-top: 40px;
                padding-right: 10px;
                padding-left: 10px;
                @media all and (max-width: 1280px) {
                    min-height: 0;
                    padding-bottom: 50px;
                }
            }
            &:last-child .hero-copy-inner > div {
                background-color: transparentize(#111, 0.5);
                min-height: 550px;
                padding-top: 40px;
                padding-right: 10px;
                padding-left: 10px;
                @media all and (max-width: 1280px) {
                    min-height: 0;
                    padding-bottom: 50px;
                }
            }
            //background-color: rgba(180, 180, 144, 0.8);
            //background-color: transparentize($highlight-color, 0.5);

            //text-align: center;

            p {
                // display: inline-block !important
                // margin-left: 107px;
            }


            h1 {
                font-family: $montserrat;
                font-size: 1.6em;
                font-weight: 400;
                margin: 1em auto 1em auto;
                padding-top: 1em;
                padding-right: 20px;

            @include media($large-screen) {
                    font-size: 1.8em;
                    max-width: 80%;
                }
            }
            &:last-child h1 {
                margin-bottom: 0;
            }

            p {
                //font-weight: 200;
                line-height: 1.5em;
                margin: 0 auto 2em auto;

                @include media($large-screen) {
                    font-size: 1.1em;
                    max-width: 80%;
                }
            }
            &:last-child p.subhead {
                font-weight: bold;
            }
        }

        button {
            @include button(flat, $base-accent-color);
            @include button(flat, $highlight-color);
            padding: 0.7em 1em;

        }
    }
}

.home-cta {
    //@extend .hero;
    background: none;
    text-align: center;

    padding-bottom: 80px;
    @include media($large-screen) {
        padding-top: 60px;
    }
    button {
        @include button(flat, $base-accent-color);
        padding: 0.7em 1em;
    }
}


.cards {
    //@include display(flex);
    //@include flex-wrap(wrap);
    //@include justify-content(space-between);
    margin-top: 20px;
    text-align: center;

    a.card {
        color:#000;
    }
}

.card {
    ///////////////////////////////////////////////////////////////////////////////////
    $base-border-color: gainsboro !default;
    $base-border-radius: 3px !default;
    $base-background-color: white !default;
    $base-spacing: 1.5em !default;
    $base-accent-color: #477DCA !default;
    $base-link-color: $base-accent-color !default;
    $dark-gray: #333 !default;
    $base-font-color: $dark-gray !default;
    //////////////////////////////////////////////////////////////////////////////////

    $card-border-color: $base-border-color;
    $card-border: 1px solid $card-border-color;
    $card-background: lighten($card-border-color, 10%);
    $card-header-background: $card-background;
    $card-hover-background: lighten($card-background, 5%);
    $card-image-background: #DBD199;
    $card-image-hover-background: lighten($card-image-background, 5%);
    $card-margin: 0;

    //@include flex-basis(15em);
    //@include flex-grow(1);
    //@include transition (all 0.2s ease-in-out);
    background-color: white;
    //border-radius: $base-border-radius;
    border-radius: 0;
    //border: $card-border;
    //box-shadow: 0 1px 0px darken($base-background-color, 10%);
    cursor: pointer;
    display: inline-block;
    //margin: 0 $card-margin $base-spacing $card-margin;
    margin: 0 auto 20px;
    max-width: 450px;
    //padding: 10px;
    //position: relative;
    text-align: left;


    @include media($large-screen) {
        //background-color: white;
        //float: left;
        vertical-align: top;
        max-width: 31%;
        &:first-child {
            margin-right: 10px;
        }
        &:last-child {
            margin-left: 10px;
        }
    }

    .card-image {
        overflow: hidden;
        max-height: 300px;

        img {
            @include transition (all 0.2s ease-in-out);
            background: $card-image-background;
            //border-top-left-radius: $base-border-radius;
            //border-top-right-radius: $base-border-radius;
            width: 100%;
        }
    }

    .card-header {
        @include transition (all 0.2s ease-in-out);
        //background-color: $card-header-background;
        //border-bottom: $card-border;
        border-radius: $base-border-radius $base-border-radius 0 0;
        color: $base-accent-color;
        font-family: $montserrat;
        //font-weight: bold;
        line-height: 1.5em;
        padding: ($base-spacing / 3) ($base-spacing / 2);
    }
    &:hover .card-header {
        text-decoration: underline;
    }

    .card-copy {
        font-size: 0.9em;
        line-height: 1.5em;
        padding: ($base-spacing / 2) ($base-spacing / 2);

        p {
            margin: 0 0 ($base-spacing / 2);
        }
    }

    &:focus,
    &:hover {
        background-color: $card-hover-background;

        .card-image img {
            background: $card-image-hover-background;
        }

        .card-header {
            background-color: $card-hover-background;
        }
    }

    &:active {
        background-color: $card-background;

        .card-header {
            background-color: $card-background;
        }
    }
}


.page-header-image {
    margin-bottom: 10px;
    max-height: 150px;
    overflow: hidden;
    width: 100%;
    img {
        width: 100%;
    }
    @include media($large-screen) {
        margin-bottom: 20px;
    }
}
.post-image {
    background-size: 100% auto;
    background-position: center top;
    margin-bottom: 10px;
    height: 200px;
    overflow: hidden;
    width: 100%;
    img {
        width: 100%;
    }
    @include media($large-screen) {
        background-position: center -100px;
        height: 300px;
        margin-bottom: 20px;
    }
}

// Page styles
article.type-system-geometric {
    ///////////////////////////////////////////////////////////////////////////////////
    $base-border-radius: 3px !default;
    $base-line-height: 1.5em !default;
    $base-spacing: 1.5em !default;
    //$base-accent-color: #477DCA !default;
    $base-link-color: $base-accent-color;
    $dark-gray: #333 !default;
    $light-gray: #DDD !default;
    $medium-screen: em(640) !default;
    $base-font-color: $dark-gray !default;

    .project-has-people {
        @include media($large-screen) {
            float: left; width: 75%;
        }
    }
    .project-sidebar-people {
        h2 {
            font-family: $montserrat;
            font-size: 16px;
            font-style: normal;
            font-weight: normal;
            margin-bottom: .25em;
        }
        text-align: center;
        @include media($large-screen) {
            float: right; width: 25%;
        }
    }

    padding: 20px 20px 40px;

    @include media($large-screen) {
        padding: 10px 10px 40px;
    }
    @include media(1088px) {
        padding: 10px 0px 40px;
    }

    h1, h2, h3, p {
        margin: 0;
    }

    hr {
        border-bottom: 1px solid $light-gray;
        border-left: none;
        border-right: none;
        border-top: none;
        margin: $base-spacing 0;
    }

    ul.project-people {
        list-style: none;
        padding-left: 0;
        li {

        }
    }

    p {
        color: $base-font-color;
        line-height: $base-line-height;
        // width: 66%;
    }

    a {
        color: $base-link-color;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline !important;
    }

    //////////////////////////////////////////////////////////////////////////////////

    // $sans-serif: 'Questrial', sans-serif;
    // $serif: 'Sanchez', serif;

    @include clearfix;
    text-align: left;

    .type {
        border-bottom: 1px solid;
        display: inline-block;
        font-family: $sans-serif;
        font-size: 0.7em;
        font-weight: 800;
        margin-bottom: 2em;
        padding: 0.3em 0;
        text-align: left;
        text-transform: uppercase;
    }

    .hero {
        margin-bottom: 20px;
    }

    h1 {
        font-family: $montserrat;
        color: $charcoal;
        font-size: 1.8em;
        font-weight: normal;
        margin-bottom: 0.5em;

        @include media($medium-screen) {
            font-size: 2em;
        }
    }

    h2 {
        font-family: $serif;
        font-size: 1.2em;
        font-style: italic;
        font-weight: 400;
        line-height: 1.4em;
        margin-bottom: 1.1em;

        @include media($medium-screen) {
            font-size: 1.3em;
        }
    }

    code {
        background: #F7F7F7;
        border-radius: $base-border-radius * 1.5;
        border: 1px solid #E0E0E0;
        font-size: 0.7em;
        font-style: normal;
        padding: 0.1em 0.4em;
        white-space: nowrap;
    }

    h3 {
        //font-family: $serif;
        font-size: 1.4em;
        font-weight: 400;
        line-height: 1.3em;
        margin-bottom: 0.4em;
    }

    p.date {
        color: transparentize($base-font-color, 0.6);
        font-family: $serif;
        font-size: 0.9em;
        font-style: italic;
        margin-bottom: 0.3em;
    }

    p {
        font-family: $sans-serif;
        font-size: 1.05em;
        line-height: 1.5em;
        margin-bottom: 1.5em;
    }

    a.read-more {
        display: inline-block;
        font-family: $sans-serif;
        font-size: 0.8em;
        font-weight: 700;
        margin-left: 0.2em;
        position: relative;
        text-transform: uppercase;

        span {
            font-family: $sans-serif;
            font-size: 1.5em;
            font-style: normal;
            position: absolute;
            right: -12px;
            top: -1px;
        }
    }

    hr {
        width: 3em;
    }

    p.author {
        color: $support-color-1;
        font-family: $sans-serif;
        font-size: .75em;
    }

    ul {
        @extend %default-ul;
    }

    ol {
        @extend %default-ol;
    }
}
section.events {
    @extend article.type-system-geometric;
}


// Navigation

.navigation {
    ///////////////////////////////////////////////////////////////////////////////////
    $base-border-radius: 3px !default;
    $dark-gray: #333 !default;
    $large-screen: em(860) !default;
    $base-font-color: $dark-gray !default;
    //////////////////////////////////////////////////////////////////////////////////

    $navigation-padding: 1em;
    $navigation-logo-height: 2em;
    $navigation-background: whitesmoke;
    $navigation-color: transparentize($base-font-color, 0.3);
    $navigation-color-hover: $base-font-color;
    $navigation-height: 60px;
    $navigation-item-padding: 1em;
    $navigation-submenu-padding: 1em;
    $navigation-submenu-width: 12em;
    $navigation-item-nudge: 0;
    $horizontal-bar-mode: $large-screen;

    background-color: $navigation-background;
    font-family: 'Montserrat', sans-serif;
    padding-right: 10px;
    padding-left: 40px;
    width: 100%;
    z-index: 9999;

    @include media($large-screen) {
        //border-bottom: 1px solid darken($navigation-background, 6%);
        min-height: $navigation-height;
        padding-left: 10px;
    }

    // Mobile view

    .mobile-logo {
        display: inline;
        float: left;
        max-height: $navigation-height;
        padding-left: $navigation-padding;

        img {
            max-height: $navigation-height;
            opacity: .6;
            padding: .8em 0;
        }

        @include media($horizontal-bar-mode) {
            display: none;
        }
    }

    .navigation-mobile-menu {
        color: $navigation-color;
        display: block;
        float: right;
        font-weight: 700;
        line-height: $navigation-height;
        margin: 0;
        padding-right: $navigation-submenu-padding;
        text-decoration: none;
        text-transform: uppercase;

        @include media ($horizontal-bar-mode) {
            display: none;
        }

        &:focus,
        &:hover {
            color: $navigation-color-hover;
        }
    }

    // Nav menu
    .navigation-wrapper {
        @include outer-container;
        @include clearfix;

        position: relative;
        z-index: 999;
    }

    ul.navigation-menu {
        -webkit-transform-style: preserve-3d; // stop webkit flicker
        clear: both;
        display: none;
        margin: 0 auto;
        overflow: visible;
        padding: 0;
        width: 100%;
        z-index: 99999;

        &.show {
            display: block;
        }

        @include media ($horizontal-bar-mode) {
            display: block;
        }
    }

    // The nav items
    .nav-link:first-child {
        @include media($horizontal-bar-mode) {
            margin-left: $navigation-item-nudge;
        }
    }

    ul li.nav-link {
        background: $navigation-background;
        display: block;
        line-height: $navigation-height;
        overflow: hidden;
        padding-right: $navigation-submenu-padding;
        text-align: right;
        width: 100%;
        z-index: 9999;

        a {
            color: $navigation-color;
            display: inline-block;
            outline: none;
            text-decoration: none;

            &:focus,
            &:hover {
                color: $navigation-color-hover;
            }
            &:hover {
                text-decoration: underline;
            }
        }

        @include media($horizontal-bar-mode) {
            background: transparent;
            display: inline;
            line-height: $navigation-height;

            a {
                padding-right: $navigation-item-padding;
            }
        }
    }

    li.logo.nav-link {
        display: none;
        line-height: 0;

        @include media($large-screen) {
            display: inline;
        }
    }

    .logo img {
        margin-bottom: -$navigation-logo-height / 3;
        max-height: $navigation-logo-height;
        opacity: 0.6;
    }

    // Sub menus

    li.more.nav-link {
        padding-right: 0;

        @include media($large-screen) {
            padding-right: $navigation-submenu-padding;
        }

        > ul > li:first-child a    {
            padding-top: 1em;
        }

        a {
            margin-right: $navigation-submenu-padding;
        }

        > a {
            padding-right: 0.6em;
        }

        > a:after {
            @include position(absolute, auto -0.4em auto auto);
            color: $navigation-color;
            content: "\25BE";
        }
    }

    li.more {
        overflow: visible;
        padding-right: 0;

        a {
            padding-right: $navigation-submenu-padding;
        }

        > a {
            padding-right: 1.6em;
            position: relative;

            @include media($large-screen) {
                margin-right: $navigation-submenu-padding;
            }

            &:after {
                content: "›";
                font-size: 1.2em;
                position: absolute;
                right: $navigation-submenu-padding / 2;
            }
        }

        &:focus > .submenu,
        &:hover > .submenu {
            display: block;
        }

        @include media($horizontal-bar-mode) {
            padding-right: $navigation-submenu-padding;
            position: relative;
        }
    }

    ul.submenu {
        display: none;
        padding-left: 0;

        @include media($horizontal-bar-mode) {
            left: -$navigation-submenu-padding;
            position: absolute;
            top: 1.5em;
        }

        .submenu {
            @include media($horizontal-bar-mode) {
                left: $navigation-submenu-width - 0.2em;
                top: 0;
            }
        }

        li {
            display: block;
            padding-right: 0;

            @include media($horizontal-bar-mode) {
                line-height: $navigation-height / 1.3;

                &:first-child > a {
                    border-top-left-radius: $base-border-radius;
                    border-top-right-radius: $base-border-radius;
                }

                &:last-child > a {
                    border-bottom-left-radius: $base-border-radius;
                    border-bottom-right-radius: $base-border-radius;
                    padding-bottom: .7em;
                }
            }

            a {
                //background-color: darken($navigation-background, 3%);
                display: inline-block;
                text-align: right;
                text-decoration: none;
                width: 100%;

                @include media($horizontal-bar-mode) {
                    //background-color: $navigation-background;
                    padding-left: $navigation-submenu-padding;
                    text-align: left;
                    width: $navigation-submenu-width;
                }
            }
        }
    }
}

    // Added by MJR ////////////////////////////////////////
    .logo-header-wrapper {
            background: white;
            margin-bottom: 0px;
            padding-top: 20px;
            padding-bottom: 20px;
            // Added by JF
            p#description {
                color: #666;
                float: right;
                font-family: 'Montserrat', sans-serif;
                font-size: 15px;
                font-style: italic;
                width: 50%;
@include media($large-screen) {
                text-align: right;
}
@media all and (max-width: 640px) {
                display: none;
}
          }
            // / Added by JF
    }
        .logo-header {
            padding-right: 20px;
            padding-left: 20px;
            img {
                height: auto;
                width: 200px;
            }
            @include media($large-screen) {
                padding-right: 10px;
                padding-left: 10px;
                img {
                    width: 247px;
                }
            }
            @include media(1106px) {
                padding-right: 20px;
                padding-left: 20px;
            }
            @include media(1146px) {
                padding-right: 40px;
                padding-left: 40px;
            }
        }
        .mobile-toggle {
            border: 2px solid $support-color-1;
            color: $support-color-1;
            display: inline-block;
            float: right;
            font-family: Montserrat, sans-serif;
            font-size: 12px;
            height: 24px;
            line-height: 21px;
            padding: 0px 4px;
            position: relative;
            top: 8px;
            @include media($large-screen) {
                display: none;
            }
        }
            .mobile-toggle:hover,
            .mobile-toggle:focus {
                color: $support-color-1;
            }
    // /Added by MJR ////////////////////////////////////////

#footer {
    background: $support-color-1;
    width: 100%;
}
// Footer
.footer {
    ///////////////////////////////////////////////////////////////////////////////////
    $base-spacing: 1.5em !default;
    $base-accent-color: #477DCA !default;
    $medium-screen: em(640) !default;
    $large-screen: em(860) !default;


    ul {
        padding: 0;
    }

    li {
        font-family: 'Montserrat', sans-serif;
        list-style: none;
        line-height: 1.5em;
    }

    a {
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline !important;
    }
    //////////////////////////////////////////////////////////////////////////////////

    //$footer-background: desaturate(darken($base-accent-color, 20%), 30%);
    $footer-background: $support-color-1;
    $footer-color: $charcoal;
    $footer-link-color: transparentize($footer-color, 0);
    $footer-disclaimer-color: transparentize($footer-color, 0);

    background: $footer-background;
    margin-right: auto;
    margin-left: auto;
    padding: ($base-spacing * 2) $gutter;
    width: 100%;

    .footer-logo {
        margin-bottom: 2em;
        text-align: center;

        img {
            height: 3em;
        }
    }

    .footer-links {
        @include clearfix;
        margin-bottom: $base-spacing;

        @include media($medium-screen) {
            @include shift(3);
        }
    }

    ul {
        margin-bottom: $base-spacing * 2;

        @include media($medium-screen) {
            @include span-columns(3);
            @include omega(3n);
            @include clearfix;
        }
    }

    li {
        text-align: center;

        @include media($medium-screen) {
            text-align: left;
        }
    }

    li a {
        color: $footer-link-color;

        &:focus,
        &:hover {
            color: transparentize($footer-color, 0);
        }
    }

    li h3 {
        color: transparentize($footer-color, 0.2);
        font-family: 'Montserrat', sans-serif;
        font-size: 1em;
        font-weight: 400;
        margin-bottom: 0.4em;
    }

    hr {
        border: 1px solid transparentize($footer-disclaimer-color, 0.3);
        margin: 0 auto $base-spacing;
        width: 12em;
    }

    p {
        color: $footer-disclaimer-color;
        font-size: 0.9em;
        line-height: 1.5em;
        margin: auto;
        max-width: 35em;

    }
}

// Home page tiles
.flex-boxes {
    ///////////////////////////////////////////////////////////////////////////////////
    $base-border-radius: 3px !default;
    $base-background-color: white !default;
    $dark-gray: #333 !default;
    $light-gray: #DDD !default;
    $base-font-color: $dark-gray !default;

    a {
        text-decoration: none;
    }
    /*a:hover .flex-box .flex-title {
        text-decoration: underline;
    }*/
    //////////////////////////////////////////////////////////////////////////////////

    $flex-box-border-color: $light-gray;
    $flex-box-border: 1px solid $flex-box-border-color;
    $flex-box-background: lighten($light-gray, 10%);
    $flex-box-gutter: 0.4em;
    $flex-box-width: 18em;
    $flex-box-color: transparentize($base-font-color, 0.3);
    $flex-box-top-colors:
        /*tomato,
        #72BFBF,
        #92B1E3,
        #E3D743,
        #CCC,
        #F6C05C,
        #72BFBF,
        #92B1E3,
        #E3D743,
        #CCC,
        #F6C05C;*/
        #bbb3a1,
        #c9c9c9,
        #2d779d,
        #4d4d4d,
        #dfdcc3,
        #416576,
        #c9bba4,
        #bbb3a1,
        #c9c9c9,
        #2d779d,
        #4d4d4d,
        #dfdcc3;

        @include clearfix;
        @include display(flex);
        @include justify-content(center);
        @include align-items(stretch);
        @include flex-wrap(wrap);
        clear: both;


    .flex-box {
        @include transition (all 0.2s ease-in-out);
        @include flex(2 2 15em);
        @include align-self(stretch);
        //background: $flex-box-background;
        background: white;
        //border-radius: $base-border-radius;
        //box-shadow: inset 0 0 1px $flex-box-border-color, 0 2px 4px darken($base-background-color, 10%);
        display: block;
        margin: $flex-box-gutter;
        padding: 2em 2em 3em 2em;

        @for $i from 1 to 12 { // assign colors from $flex-box-top-colors list
            &:nth-child(#{$i}) {
                $color-from-list: nth($flex-box-top-colors, $i);
                border-top: 6px solid $color-from-list;

                &:focus,
                &:hover {
                    background-color: transparentize($color-from-list, 0.9);
                }
            }
        }

        img {
            display: block;
            height: 3em;
            margin-bottom: 2em;
            margin: auto;
            opacity: 0.4;
        }

        .flex-title {
            color: $flex-box-color;
            font-size: 1.2em;
            //font-weight: 800;
            margin-bottom: 0.5em;
        }

        p {
            color: transparentize($flex-box-color, 0.1);
            line-height: 1.5em;
            margin: auto;
        }
        &:hover {
            text-decoration: none !important;
            .flex-title {
                text-decoration: none !important;
            }
            p {
                text-decoration: none !important;
            }
        }
    }


    .flex-box-big {
        @include flex(1 1 40em);
    }
}

.page-people {
    h1 {
        text-align: left;
    }
}
.people {
    margin-right: auto;
    margin-left: auto;
    max-width: 860px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    width: 100%;
}
.person {
    display: inline-block;
    padding: 10px;
    position: relative;
    text-align: center;
    vertical-align: top;
    width: 200px;

    .photo {
        text-align: center;
        img {
            // border: 1px black solid;
        }
    }
    .details {
        text-align: center;
        h3 {
            font-family: $montserrat;
            font-size: 1.1em;
            font-weight: normal;
            text-align: center;
        }
        ul {
            display: inline-block;
            list-style: none;
            padding-right: 0;
            padding-left: 0;
            text-align: center;
        }
        li {
            display: inline-block;
            line-height: 1.25em;
            margin-right: 2px;
            margin-left: 2px;
        }
            li:after {
                content: ",";
            }
            li:last-child:after {
                content: "";
            }
        a {
            color: $base-accent-color;
        }
    }
}

#subForm {
    padding-bottom: 20px;
    h3 {
        margin-bottom: 40px;
        padding-top: 20px;
    }
}
