---
layout: default
---

<section class="events">
<h1>{{ page.title }}</h1>
<p class="subhead">We sponsor conferences, speakers, workshops, and other events, including our annual DRExChange, on the campus of Hofstra University to promote digital communities, scholarship, critical thinking, and learning.</p>
<h3>DRExChange</h3>
<p>March 23rd, Hofstra University</p>
<p>Download Description and Agenda (coming soon)</p>
<h2 class="heading">Past Events</h2>
{% assign events = site.categories.events %}
{% for post in events limit:10 %}
<h3><a href="{{ post.link }}">{{ post.title }}</a></h3>
{% comment %}
<p>{{ post.display_date }}<br />
{% endcomment %}
{{ post.location }}</p>
{{ post.content }}
{% endfor %}
</section>
