<!DOCTYPE html>
<html>

{% include head.html %}

<body{% if page.id!='' %} class="page-{{ page.id }}"{% endif %}>
  {% include header.html %}

  <div class="new-layout">
    <div class="lab-column">
      <a href="{{ site.baseurl }}/projects/"><div class="column-header">
        <h1>DRC Lab</h1>
        <p>&nbsp;<br />&nbsp;<!-- lab tagline here? --></p>
      </div></a>
      {% assign lab_feature = site.categories.lab_feature | first %}
      {% if lab_feature %}
        <div class="column-feature-wrapper" style="background: url('{{lab_feature.image | prepend: site.baseurl}}') no-repeat center left;">
          <div class="column-feature">
            <h2>{{ lab_feature.title }}</h2>
            <p>{{ lab_feature.blurb }}</p>
            <p><a href="{{ lab_feature.url | prepend: site.baseurl }}"><button>Learn more about the project</button></a></p>
          </div>
        </div>
      {% endif %}
      <div class="cards">
        {% assign projects = site.categories.projects | where:"feature",true  %}
        {% for post in projects limit:3 sort: 'date' %}
        <a class="card" href="{{ post.url | prepend: site.baseurl }}">
          {% assign image_url = post.image %}
          {% unless post.image %}
            {% assign image_url = "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" %}
          {% endunless %}
          <div class="card-image" style="background-image: url('{{ image_url | prepend: site.baseurl }}');"></div>
          <div class="card-header">
            {{ post.title }}
          </div>
          <div class="card-copy">
            {{ post.blurb }}
          </div>
        </a>
        {% endfor %}
      </div>
      <div class="cards">
        <a class="card" href="{{ site.baseurl }}/projects/">
          <div class="card-header">View all projects &rarr;</div>
        </a>
      </div>
      <div class="toolkit">
        <a href="{{ site.baseurl }}/tools/"><div class="toolkit-header">The DRC Toolkit</div></a>
        <div class="cards">
          {% assign tools = site.categories.tools | where:"feature",true  %}
          {% for post in tools limit:3 sort: 'date' %}
          <a class="card" href="{{ post.url | prepend: site.baseurl }}">
            {% assign image_url = post.image %}
            {% unless post.image %}
              {% assign image_url = "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" %}
            {% endunless %}
            <div class="card-image" style="background-image: url('{{ image_url | prepend: site.baseurl }}');"></div>
            <div class="card-header">
              {{ post.title }}
            </div>
            <div class="card-copy">
              {{ post.blurb }}
            </div>
          </a>
          {% endfor %}
        </div>
        <div class="cards">
          <a class="card" href="{{ site.baseurl }}/tools/">
            <div class="card-header">View all tools &rarr;</div>
          </a>
        </div>
      </div>
    </div>
    <div class="forum-column">
      <a href="{{ site.baseurl }}/events/"><div class="column-header">
        <h1>DRC Forum</h1>
        <p>Building communities interested in pursuing digital scholarship and learning.</p>
      </div></a>
      <div class="column-feature-wrapper" style="background: url('{{ site.baseurl }}/images/forum-home.jpg') no-repeat center center;">
        <div class="column-feature">
          <h2>DRExChange 2017</h2>
          <p>Our annual DRExChange is at Hofstra University on March 23rd.</p>
          <p><a href="{{ site.baseurl }}/events/"><button>Find out about our DRExChange</button></a></p>
        </div>
      </div>
      <div class="cards">
        {% assign posts = site.categories.blog  %}
        {% for post in posts limit:3 sort: 'date' %}
        <a class="card" href="{{ post.url | prepend: site.baseurl }}">
          <div class="card-header">
            {{ post.title }}
          </div>
          <div class="card-copy">
            {{ post.excerpt }}
          </div>
        </a>
        {% endfor %}
        <a class="card" href="{{ site.baseurl }}/blog/">
          <div class="card-header">View all blog posts &rarr;</div>
        </a>
      </div>
    </div>
  </div>

  <section id="footer">
  {% include footer.html %}
  </section>

</body>

</html>
