---
layout: default
---

{% if page.image!='' %}
{% if page.project_url!='' %}
<div class="post-image" onclick='window.open("{{ page.project_url }}");' style="cursor: pointer;"></div>
{% else %}
<div class="post-image"></div>
{% endif %}

<style type="text/css">
    .post-image {
        background-image: url('{{page.image}}');
    }
    .post-image a {
        width:1088px;
        height:300px;
        text-decoration: none;
    }
</style>
{% endif %}

<article class="type-system-geometric">

<h1>{{ page.title }}</h1>

<div class="project-has-people" style="">
{{ page.content | markdownify }}
</div>

<div class="project-sidebar-people" style="">
{% if page.people!='' %}
    {% if page.lead_person!='' %}
        {% for person in site.data.people %}
            {% if page.lead_person == person.id %}
    <h2>Project Director:</h2>
    <div class="person">
        <div class="photo">
        {% if person.photo!='' %}
            <img src="{{ person.photo }}" />
        {% else %}
            <img src="/images/people/nophoto.jpg" />
        {% endif %}
        </div>
        <div class="details">
            <h3>{{ person.first_name }} {{ person.last_name }}</h3>
        </div>
    </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if page.people!='' %}
    <h2>Project Team:</h2>
    <ul class="project-people">{% for person in site.data.people | sort: "last_name" %}{% if page.people contains person.id %}<li>{{ person.first_name }} {{ person.last_name }}</li>{% endif %}{% endfor %}</ul>
    {% endif %}
{% endif %}
{% if page.project_url!='' %}
<div class="person">
    <a href="{{ page.project_url }}" target="{{ page.title | slugify }}"><button>View Project</button></a>
</div>
{% endif %}
</div>

</article>
